
$site-title-font: 'Kentucky Fireplace', Helvetica, Arial, sans-serif;
$title-font: 'HVD Edding 780', Helvetica, Arial, sans-serif;
$body-font: 'CMU Concrete', Georgia, serif;

$background-color: #FFF7F0;
$text-color: #2B2322;
$ui-color: #3B671E;

$sp: 20px;
