<div class="footer container">
  <div class="prose">
    {%- if page.footer_image -%}
      {%- assign footer_image_filename = page.footer_image -%}
      {%- include screened_image.html filename=footer_image_filename width="100%" caption=page.footer_caption -%}
    {%- endif -%}
    <p class="copyright">
      <span><a href="{{site.url}}{{site.baseurl}}">The Digital Trails Handbook</a></span>
      <br/>
      <span>© {{ site.time | date: '%Y' }} <a href="https://openstreetmap.us" target="_blank">OpenStreetMap US</a>. Licensed <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.</span>
    </p>
  </div>
</div>