{% assign articles = site.articles | sort: "title" -%}
<ul class="articles-list">
  {%- for article in articles -%}
    <li><a href="{{article.url | absolute_url}}">{{article.title}}</a>
    {%- assign words = article.content | normalize_whitespace | split: ' ' -%}
    {%- if article.content contains "</h2>" -%}
      <ul>
      {%- assign output = "no" -%}
      {%- for word in words -%}
        {%- assign start = word | slice: 0,3 -%}
        {%- if start == "<h2" -%}
          {%- assign thisAndNext = word | append: ' ' | append: words[forloop.index] | split: ">" -%}
          {%- assign startTag = thisAndNext | first -%}
          {%- assign anchor_length = startTag.size | minus: 9 -%}
          <li><a href="{{article.url | absolute_url}}#{{ startTag | slice: 8, anchor_length}}">
          {{thisAndNext[1]}}{{" "}}
          {%- assign output = "skipnext" -%}
        {%- elsif word contains "</h2>" -%}
          {%- assign tail_length = word.size | minus: 5 -%}
          {{word | slice: 0, tail_length }}
          </a></li>
          {%- assign output = "no" -%}
        {%- elsif output == "skipnext" -%}
          {%- assign output = "yes" -%}
        {%- elsif output == "yes" -%}
          {{word}}{{" "}}
        {%- endif -%}

        {%- assign parts = line | split: " " -%}
        {{parts}}
        {%- if parts.first == '##' -%}
          {%- assign subsection = line | removeFirst: '## ' -%}
          {{subsection}}
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}
    </li>
  {%- endfor %}
<ul>